/* --------------- */
.Bulb {
    width: 25%;
    cursor: pointer;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
}

.bulb_state i {
    font-size: 8rem;
}

.Bulb:hover {
    opacity: 0.8;

    border: 2px solid #53b45b;
}

.disable {
    background-color: #c7c0c0;
    color: white;
}