.Light {
    border-radius: 10px;
    margin-left: -10px;
}
.tabs{
    /* border-top-left-radius:10px ; */
    /* border-top-right-radius:10px ; */
    border-bottom: 10px;
}
.area {
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
}
